* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  background-color: #D8DBD5;
  position: relative;
  height: 100vh;
}

img {
  max-width: 100%;
}


/* GENERAL */

.menu {
  color: #B1B1B1;
  padding-right: .5rem;
  border-right: 1px thin #B1B1B1;
}

.menu i {
  padding: .5rem;
}

.green-band {
  height: 15%;
  background-color: #009688;
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  width: 80%;
  height: 95%;
  background-color: #FFFFFF;
  z-index: 999;
}

.left-column {
  width: 35%;
  height: 100%;
}

.right-column {
  width: 65%;
  height: 100%;
}


/* UTILITIES */


.d-flex {
  display: flex;
}

.dir-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-end {
 align-items: flex-end;
}

.w-100 {
  width: 100%;
}


/* LEFT COLUMN */

.user {
  height: 200px;
  background-color: #EAEAEA;
}

.user-menu {
  height: 35%;
}

.user-left .my-avatar {
  border-radius: 50%;
  padding-left: .5rem;
}

.user-left img {
  height: 60%;
}

.alert {
  height: 40%;
  background-color: #8EDAFC;
}

.alert i {
  color: #8EDAFC;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 1rem;
  height: 3rem;
  width: 3rem;
}

.alert a {
  color: #547D90;
}

.finder {
  height: 25%;
  background-color: #FFFFFF;
  color: #B1B1B1;
}

.finder-border {
  width: 95%;
  height: 90%;
  border: 1px thin #B1B1B1;
}

.finder-border input{
  width: 90%;
  height: 60%;
  padding-left: 1.5rem;
  border-style: hidden;
}

.contacts {
  height: calc(100% - 200px);
  overflow: scroll;
}

.contacts .contact {
  height: 80px;
  border: 1px thin #B1B1B1;
}

.contacts .contact:hover {
  background-color: #E9EBEB;
  cursor: pointer;
}

.contacts .contact img {
  height: 60%;
  border-radius: 50%;
  padding: 0 1rem;
}

.contact-details .contact-name {
  color: black;
  font-size: 1.2rem;
}

.contact-details, .contact-right-part {
  height: 60%;
  color: #B1B1B1;
  padding-right: 1rem;
}

/* RIGHT COLUMN */

.active-conversation {
  height: 70px;
  background-color: #EAEAEA;
}

.conversation-avatar {
  border-radius: 50%;
  padding-left: .5rem;
  height: 60%;
  padding: 0 1rem;
}

.contact-details .contact-name {
  font-size: 1rem;
}

.last-activity {
  color: #6B7376;
  font-size: .8rem;
}

.body-conversation {
  height: calc(100% - 70px);
}

.current-chat {
  height: calc(100% - 70px);
  background-image: url("../img/mine.jpg");
}

.input-field {
  height: 70px;
  background-color: #F3EEEA;
  color: #6B7376;
}

.input-field .write-a-message {
  width: 80%;
  height: 80%;
  border-style: hidden;
  border-radius: 5px;
  padding-left: 1rem;
}

.input-field i {
  font-size: 1.4rem;
}